body {
  background-color: white;
  margin-left: 3%;
  margin-right: 7%;
  margin-top: 15px;
}
p { text-align: justify }
li { text-align: justify; margin-bottom: 4pt; }
pre { color: #c52d2d }
code { color: #c52d2d }
pre.small { color: #000000; font-size: 80%; }
pre.code {
  overflow:       auto;
  background:     rgb(230,230,230);
  color:          #000000;
  border:         solid;
  border-width:   thin;
  padding: 5px  10px;
}
a { text-decoration: none; color: #0000ff; }
a:hover { text-decoration: underline; color: #ff0000; }
h1 { font-size: 140%; }
h2 { font-size: 120%; }
h3 { font-size: 100%; }
.emph { color: #000000; background: #ccffcc;
        padding-top: 0.5em; padding-bottom: 0.5em; }
.head {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background: #cdcffc;
  margin-left:0em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  border-style: solid;
  border-width: 1pt;
  text-align: center;
}
h1.head { font-size: 130%; }
h2.head { font-size: 120%; }
hr { height: 2px; border-width:0; color:gray; background-color:gray; }
hr.thin { height: 1px; }
td.border {
  vertical-align:top;
  background:#ccccff;
  padding: 5px;
  width:18%;
}
td.main {
  vertical-align:top;
  padding-left: 20px;
  padding-right: 40px;
}
table.border {
  border:0;
  border-spacing:0px;
  width:100%;
}
img.border {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border: 0;
}
div.faqh2 {
  text-align: left;
  background: #1080bf;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 150%;
  margin-left: -4%;
  width:100%;
  border:0;
  padding:4px;
}
